@font-face {
	font-family: roboto;
	src: url('../roboto.ttf');
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: roboto;
}

#cursor {
	position: absolute;
	z-index: 999999;
	display: none;
}

#container {
	position: absolute;
	background: #FFF;
    border: 1px solid #eee;
    border-radius: 8px;
	height: 500px;
	width: 600px;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -300px;
	cursor: default;
    overflow: hidden;
}

#header {
	position: relative;
	display: block;
	width: 100%;
	height: 75px;
	background: linear-gradient(#000111, #adadad);
}

#logo {
	height: 55px;
	margin: 10px;
}

#content {
    padding: 20px;
}

#welcome-text {
	font-size: 25px;
	width: 100%;
	color: #454545;
}

#menu {
	height: 150px;
	margin: 32px 0 auto;
	width: 500px;
}

#menu #base-info {
    color: #686868;
    
}

#base-info span {
    color: green;
	font-family: DINCondensed,DINCondensed-Bold;
}

#menu div {
    margin-top: 12px;
	flex-direction: row;
}

#sub-title {
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

input {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
    outline: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

button {
    top: 1px;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    outline: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
}

button:hover {
	cursor: pointer;
}

#deposit_btn {
    width: 140px;
	height: 38px;
	font-size: 1.2em;
}

#deposit_amount {
    width: 60%;
	height: 38px;
	font-size: 1.2em;
}

#withdraw_btn {
    width: 140px;
	height: 38px;
	font-size: 1.2em;
}

#withdraw_amount {
    width: 60%;
	height: 38px;
	font-size: 1.2em;
}